# Outputs
outputs/*
!outputs/.gitkeep

# Data
data/*
!data/.gitkeep

# API keys
credentials.json
demos/global-flood-mapping-931a2b50fa5f.json

# Python and virtual environment
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env
.env.local
